.container {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.container > div {
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 200px;
  height: 214.4px;
  background: hsla(233, 100%, 90%, 1);

  background: linear-gradient(
    90deg,
    hsla(233, 100%, 90%, 1) 0%,
    hsla(0, 0%, 89%, 1) 100%
  );
}

.container > div > div {
  padding: 1.5rem;
  text-align: center;
  border-bottom-width: 1px;
}

.container > div > div > img {
  margin-left: auto;
  margin-right: auto;
  width: 6rem;
  height: 6rem;
  border-radius: 9999px;
}
.container > div > div > p {
  padding-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: black;
  width: 100%;
}
.container > div > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  font-weight: 600;
  width: 100%;
}
