.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: 300px;
  position: relative;
}
.img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.name {
  color: #92bbc4;
  font-weight: 600;
  font-size: 1.1rem;
}

.friends {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.8rem;
  color: #a5aebf;
  font-weight: 900;
}

.you{
    font-size: 0.8rem;
    color: #a5aebf;
    font-weight: 900;
    position: absolute;
    top: 5%;
    right: 5%;
}