:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background: lightslategray;
  border-radius: 12px;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  /* font-weight: 500; */
  /* color: #646cff; */
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}
li {
  list-style: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.center_In_Page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide__scroll {
  overflow: hidden;
}

/* i used for post  */
.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  border-radius: 24px;

  /* background-color: red; */
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1050px;
    /* 1179 */
  }
}

.container__profile {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;

  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  /* background-color: red; */
  width: 100%;
}

@media (min-width: 768px) {
  .container__profile {
    width: 750px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .container__profile {
    width: 970px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container__profile {
    width: 1050px;
    /* 1179 */
  }
}

/* for group */
.all {
  width: 100%;
  display: flex;
  background-color: #eeeeee;
  position: relative;
}
.left {
  width: 100px;
  position: sticky;
  top: 0;
  height: 100vh;
}
.right {
  width: 100%;
}

.bottom {
  width: 100%;
  /* background-color: #31363f; */
  background-color: #ffffff;
  min-height: calc(100vh - 400px);
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  padding: .5rem;
}

.M_A_M__Content__Container {
  width: 100%;
  margin: auto;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.leave {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 600px;
  margin: 13rem 1rem;
  font-size: 1.2rem;
  background-color: #212832;
  color: white;
  font-weight: 600;
}

.PostContent__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rate {
  width: 100%;
  background-color: #212832;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 4rem; */
  padding: 1rem;
  /* border-radius: 1rem; */
  gap: 10rem;
  color: white;
  font-size: 1.5rem;
}
.rate > button {
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  background-color: #a0beb4;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}
.delete__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  padding: 1rem;
}
.delete__page button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #ff3333;
  color: white;
}
@media (max-width: 768px) {
  .PostContent__Container {
    width: 95%;
  }
}

.container_search {
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;

  background-color: #fff;

  display: flex;
  flex-direction: column;

  align-items: center;

  border-radius: 24px;

  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .container_search {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container_search {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container_search {
    width: 1050px;
    /* 1179 */
  }
}

.conatiner_results {
  /* background-color: red; */
  width: 100%;
  display: flex;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.no {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 400px);
  width: 90%;
  font-size: 1.1rem;
  padding: 1.1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.navbar__mobile {
  background-color: #212832;
  width: 100%;

  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0.5rem;
  position: relative;
  display: none;
}
.navbar__mobile > button {
  border: none;
  background: none;
  color: #76abad;
  font-size: 2rem;
}

@media (max-width: 480px) {
  .left {
    display: none;
  }
  .navbar__mobile {
    display: flex;
  }
}
