.container {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.container--img {
  width: 20rem;
}

.container--img img {
  width: 100%;
}

.container--forget-password {
  width: 20rem;
}

.header {
  margin-bottom: 1rem;
}

.header h2 {
  font-size: 2.3rem;
  line-height: 1.2;
}

.header p {
  font-size: 1.3rem;
}
.container--naviagation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container--naviagation a:first-child {
  color: #008080;
}

.container--naviagation button {
  background-color: white;
  border: none;
  background-color: #008080;
  color: white;
  border-radius: 40px;
  padding: 0.5rem 2rem;
  font-size: 0.9rem;
  border: 2px solid #008080;
  
}

.container--naviagation button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.container--naviagation a:last-child {
  background-color: #008080;
  color: white;
  border-radius: 40px;
  padding: 0.5rem 2rem;
  font-size: 0.9rem;
  border: 2px solid #008080;
}
.container--naviagation a:last-child:hover {
  background-color: white;
  color: #008080;
}

/* mobile */
@media (max-width: 480px) {
}
@media (max-width: 580px) {
  .container {
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 20px;
  }
  .header h2 {
    font-size: 1.8rem;
    line-height: 1.2;
  }

  .header p {
    font-size: 1.1rem;
  }
}

/* tablets */
@media (max-width: 768px) {
  /* .container{
        flex-direction: column;
        text-align: center;
    } */

  .container--img {
    width: 15rem;
  }
  .container--forget-password {
    width: 15rem;
  }

  .container--naviagation a:last-child {
    font-size: 0.9rem;
    padding: 0.5rem 1.5rem;
  }
}
/* labtops */
@media (min-width: 769px) and (max-width: 1024px) {
}
/* large */
@media (min-width: 1025px) and (max-width: 1200px) {
}
